@{
    ViewBag.Title = "Compartir Tarea";
    var tarea = ViewBag.tarea as Tarea;
    bool usuarioExiste = ViewBag.UsuarioExiste ?? true;
}
<div>
    <h4>Vas a compartir la siguiente tarea:</h4>
    <ul>
        <li>Título: @ViewBag.tarea.Titulo</li>
        <li>Descripción: @ViewBag.tarea.Descripcion</li>
    </ul>
</div>
<form action='@Url.Action("CompartirTarea", "Home", new { idTarea = ViewBag.tarea.Id})' method="post">
    <input type="text" name="username" placeholder="Ingresar usuario" required/>
    @if (!usuarioExiste)
    {
        <p>El usuario ingresado no existe. Por favor intente con otro nombre de usuario.</p>
    }
    <input type="submit" value="Compartir"/>
    <a href="@Url.Action("MostrarTareas", new { Eliminadas = false })">Cancelar</a>
</form>