@{
    ViewData["Title"] = "Modificar tarea";
}

<h1>Modificar tareas</h1>
<form action='@Url.Action("ModificarTarea", "Home")' method="post">
    <input type="text" name="Titulo" placeholder="Ingresar tarea" required/>
    <input type="text" name="Descripcion" placeholder="Ingresar descripción" required/>
    <input type="text" name="Fecha" placeholder="Ingresar fecha de realización de la tarea" required/>
    <input type="checkbox" name="Finalizada" value="Finalizada"> ¿Está finalizada?
    <input type="submit" value="Ingresar datos"/>
</form>