@{
    ViewData["Title"] = "Lista de tareas";
}

<div>
    <p>Tareas pendientes:</p>
        <ul>
        @foreach(Tarea tarea in ViewBag.tareas)
        {
            <li>@tarea.Titulo</li>
            <li>@tarea.Descripcion</li>
            <li>@tarea.Fecha</li>
            <li>@tarea.Finalizada</li>
        }
        </ul>
</div>